/*Start Variabals*/
:root{
    --responsive-font-size:14px;
}

/*  CSS3

:-webkit-x
:-moz-x
x

*/

/*Start Utility Classes*/
.h1-heading{
    font-size: 38px;
}

/*End Utility Classes*/

/*End Variabales*/

/*Container Small*/
@media(max-width : 768px){
/* .container{

} */

.header .header-content{
   margin: auto;
}
.header .header-content .main-navbar > li > a{
    padding: 4px;
    font-size: var(--responsive-font-size);
}
.header .header-content .main-navbar > li > a::before , .header .header-content .main-navbar > li > a::after{
    height: 2px;
}

/*Start Section Home*/

/*End Section Home*/

/* Start Aside Menu */

.header .main-navbar .links-group {
   flex-direction: column;
   margin-top: 50px;
   gap:0px;
   /* margin-top: 490px;  */
}
.header .main-navbar .links-group ul li  {
    margin: 10px 0px;
   
}

.header .main-navbar .links-group {
   top: 250px;
}

.header .main-navbar > li{
    transition: var(--main-transition-duration);
}
.header .main-navbar > li:hover .links-group{
    z-index: 1;
    opacity: 1;
    top: 160px;
}
/* End Aside Menu */


/* Start Section Articles */
.articles .articles-content .boxes{
    flex-direction: column;
    margin-top: 50px;
    gap: 0px;
    

}
.articles .articles-content .boxes .box{
    margin: var(--main-margin-y);

}

/* End Section Articles */

/* Start Section Gallery */
.gallery .carts{
    flex-direction: column;
    margin-top: 50px;
}


/* End Section Gallery */


/* Start Section Movies */
.movies .movies-carts{
    flex-direction: column;
    margin-top: 50px;
}

/* End Section Movies */


/* Start Section Lastest Reviews and Rating */
.reviews .reviews-carts{
    flex-direction: column;
    margin-top: 50px;
    
}

.reviews .reviews-carts .reviews-cart{
    margin: 40px 20px;
}

/****************************/



/* End Section Lastest Reviews and Rating */


/* Start Section Members */
.members .members-carts{
    flex-direction: column;
    margin-top: 50px;
}

/* End Section Members */

/* Start Section Categories*/
.categories .categories-carts{
    flex-direction: column;
    margin-top: 50px;
}
/* End Section Categories*/

/* Start Section About us*/
.about-us .about-us-content{
    flex-direction: column;
    margin-top: 100px;
}
.about-us .about-us-content .image-content img{
    display: none;
}
/* End Section About us*/


/* Start Section Top Videos */
.videos .video-content{
    flex-direction: column;
}
/* Start Section Events */
.events .events-content{
    flex-direction: column;
    margin-top: 50px;
}
.events .events-content .image-content img{
    display: none;
}

/* End Section Events  */

/* Start Section Trailers Videos */
.videos .video-content h3 , .videos .video-content p {
    display: block;
}

.videos .video-content{
  display: inline-block;
  padding: 5px ;
  width: 100%;
  margin-bottom: 4px;
}
 
/* End Section Trailers Videos */

/* Start Section Pricing Plans */

.pricing .pricing-carts{
      flex-direction: column;
    
}
.pricing .pricing-carts .pricing-cart:first-child{
    margin-bottom: 90px;
}
.pricing .pricing-carts .pricing-cart:last-child{
    margin-top: 40px;
}
/* End Section Pricing Plans */

/* Start Section Statistics */
.statistics .statistics-carts{
    flex-direction: column;
    margin-top: 80px;
}
/* End Section Statistics */

/* Start Contact us */
.contact-us-content form{
    margin: 80px auto 30px;
}
/* End Contact us */


/* Start Section Footer */
.footer .footer-content{
    flex-direction: column;

}


/* End Section Footer */
}





























/*Container Medium*/
@media(min-width : 992px){
    .container{
        width: 970px;
    }
}
/*Container Large*/
@media(min-width : 1200px){
    .container{
        width:1170px;
    }
}